.welcome{
    color: brown;
}
.app-content{
    height: 100vh;
}
.navbar-brand{
    height: 50px;
    width: 65px;
}

.navbar-brand img{
    height: 100%;
    width: 100%;
}

.bg-dark{
    background: #000000 !important;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(167 184 226);
    font-weight: 600;
}

.navbar-nav .nav-item .nav-link:hover{
    background-color: #a7b8e2;
    color: var(--btn-bg-color);
    border-radius: 7px;
}

