.create-incident-popup ::ng-deep .mat-standard-chip {
    min-height: 18px !important
}

.create-incident-popup ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.create-incident-popup ::ng-deep .mat-error {
    font-size: 11px;
    position: relative;
}

.create-incident-popup mat-label {
    font-size: 14px;
}

.create-incident-popup ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.create-incident-popup ::ng-deep .mat-error {
    font-size: 11px;
    position: relative;
}

.create-incident-popup mat-label {
    font-size: 14px;
}

.create-incident-popup {
    .file-size {
        font-size: 9px;
        margin-top: -3px;
        color: grey;
        position: relative;
    }

    .cus-btn-margin {
        margin-left: 10px;
        // background-color: #224a95;
        // color:white;
        
    }

    .cus-mt {
        margin-top: 23px;
    }
}

.cus-mat-spinner {
    top: 46vh;
    position: absolute;
    left: 48vw;
}

.btnClose {
    position: relative;
    bottom: 29px;
    left: 95%;
    color: gray;
    background-color: none;
}
.btnCloud{
    left: 255px;
    position: relative;
    bottom: 20px;
}
.scrollbar {
    margin: 4px, 4px;
    padding: 4px;
    width: 700px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: auto;
    
}
@media only screen and (min-width: 1050px) {
    .scrollbar {
        margin: 4px, 4px;
        padding: 4px;
        width: 700px;
        height: 650px;
        overflow-x: hidden;
        overflow-y: auto;
        
    }
}
@media only screen and (max-width: 1297px)  {
    .scrollbar {
        margin: 4px, 4px;
        padding: 4px;
        width: 700px;
        height: 550px;
        overflow-x: hidden;
        overflow-y: auto;
        
    }
}

.cus-emailBtn{
    font-size: 20px;
    margin-left: -15px;
}
.btnclor{
    background-color: blue;
    color: white;
    position: relative;
    width:106%;
    height: 40px;
    text-align: center;
    bottom: 10px;
    right:9px;
    padding-right: 20px;
    //margin-bottom: 10px;
}
.loader{
    pointer-events: none;
}
.mat-button{
    background-color: #3f51b5;
    color: white;
}
.mat-button.mat-button-disabled{
    background-color: #8698ff !important;
    color: white;
}

